Package: liblzo2-dev
Source: lzo2
Version: 2.10-0.1
Architecture: amd64
Maintainer: Peter Eisentraut <petere@debian.org>
Installed-Size: 4841
Depends: liblzo2-2 (= 2.10-0.1)
Replaces: liblzo-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.oberhumer.com/opensource/lzo/
Description: data compression library (development files)
 LZO is a portable, lossless data compression library.
 This package contains the header files and static libraries for the
 LZO data compression library.
